.color-1 {
    background-color: #F0DDC7;
}

.color-2 {
    background-color: #FAE0CF;
}

.color-3 {
    background-color: #E3CEC7;
}

.color-4 {
    background-color: #FAD4CF;
}

.color-5 {
    background-color: #F0C7CD;
}